{% extends "commentable.jinja" %}

{% block header %}
    {% if mode != 'full' %}
        <h2><a href="{{ content.url('full') }}">{{ content.title }}</a></h2>
    {% endif %}
{% endblock %}

{% block content %}
    {% if mode == 'full' %}
        {{ content.text.render() }}
    {% else %}
        <pre class="markdown">{{ content.text|truncate }}</pre>
    {% endif %}
{% endblock %}
