{% extends "commentable.jinja" %}

{% block content %}
    {% if mode == 'full' %}
        <a class="tldr" href="#source-link">SHUT THE FUCK UP AND GIVE ME THE LINK!</a>
        {{ content.description.render() }}
        <span id="source-link">{{ content.link.render('inline') }}</span>
    {% else %}
        {{ content.description|truncate }}
    {% endif %}
{% endblock %}
