{% extends "commentable.jinja" %}

{% block content %}
    {% if mode == 'full' %}
        <a class="tldr" href="#source-link">SHUT THE FUCK UP AND GIVE ME THE ORIGINAL LINK!</a>
        {{ content.description.render() }}
        {% if content.link %}
            <div id="source-link">
                <span>This content originates from:</span>
                {{ content.link.render('inline') }}
            </div>
        {% else %}
            <div id="source-link">No associated link selected.</div>
        {% endif %}
    {% else %}
        <pre class="markdown">{{ content.description|truncate }}</pre>
    {% endif %}
{% endblock %}
