object#logo {
    opacity: 0.8;
}



article.content-type-scoredlink {

    a.link {
        font-weight: bold;
    }
}

article.content-type-article footer .date {

    font-family: 'Orbitron';
    font-size: 1rem;
}

a.tldr {

    display: block;

    width: 100%;
    height: 4rem;
    padding-left: 4rem;
    margin-bottom: 0.5rem;
    background: $color_background_light url('/theme/icons/link.svg#dark') no-repeat;
    background-size: contain;
    color: $color_font_dark;
    box-sizing: border-box;

    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 4rem;

    font-family: 'Orbitron';

    transition: color 0.3s linear, background 0.3s linear;

    &:hover,
    &:focus {
        
        background-image: url('/theme/icons/link.svg');
        background-color: opacify($color_highlight, -20%);
        color: $color_font_light;

    }
}

div#source-link {
   
    padding: 0.5rem;

    &:hover,
    &:focus,
    &:target {

        background: opacify($color_highlight, -30%);
        color: $color_font_dark;
        animation: attentionflash 4s infinite;

        a {
            color: $color_font_dark;
        }
    }
}
