{% extends "commentable.jinja" %}

{% block content %}
    <div class="project-url">Project URL: <a href="{{ content.link }}">{{ content.link }}</a></div>
    {% if mode == "full" %}
        {{ content.text.render() }}
    {% else %}
        <pre>{{ content.text|truncate }}</pre>
    {% endif %}
{% endblock %}
