<article class="{{ content.__class__.__name__.lower() }}">
    <a href="{{ content.link }}">{{ content.link }}</a>
    <span class="external-site-count">External site count: {{ content.external_site_count }}</span>
</article>
