{% extends "commentable.jinja" %}

{% block content %}

    {% if mode == 'full' %}
        {{ content.description.render() }}

        {{ content.link.render('inline') }}
    {% else %}
        <code>{{ content.description|truncate }}</code>
    {% endif %}

{% endblock%}
